body {
    font-size: 15px;
    line-height: 1.52;
    background-color: #ec9f95;
    color: #080808;
    font-family: 'Open',sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.marb-35 {
    margin-bottom: 35px;
}
.header-h {
    font-size: 35px;
    color: #FFB03B;
    font-family: 'Satisfy',sans-serif;
    font-weight: 300;
}
.header-p {
    color: #9699a6;
    font-size: 16px;
}

#menu-filters ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.menu-restaurant {
    width: 100%;
    float: left;
    padding: 15px;
    position: relative;
}
.menu-restaurant .menu-title {
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

.menu-restaurant .menu-line {
    position: absolute;
    center: 80%;
    transform: translateX(-50%);
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 5%;
    top: 10;
}
